.flashes h4 {
    line-height: 2;
    text-align: center;
}
.dateF {
    color: blue;
}

.dateT {
    color: red;
}

/* STORES */
.StoreBtn {
    width: 100%;
}

.deleteStoreBtn {
    width: 50%;
}

.storeCol {
    width: 50%;
    padding: 0;
}

.deleteStore {
    text-align: right;
}