{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <h1>
            {{store.store_name}}
        </h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Order#</th>
                <th>Notes</th>
                <th>Delivery Date</th>
                <th>Status</th>
                <th>Progress</th>
                <th>Invoiced</th>
                <th>Last Edited By</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                {% if (order.status != "Completed") and (order.store_name == store.store_name) %}
                <form action="{{ url_for('edit_order', order_id=order._id, store_id=store._id) }}" method="POST">
                    <tr class="orders">
                        <td>
                            <input type="text" name="number{{order._id}}" id="number{{order._id}}" value="{{ order.order_number }}" />
                        </td>
                        <td>
                            <input type="text" name="notes{{order._id}}" id="notes{{order._id}}" value="{{ order.notes }}" />
                        </td>
                        <td>
                            <input type="text" name="date{{order._id}}" id="date{{order._id}}" value="{{ order.date }}" class="datepicker validate"/>
                        </td>
                        {% if order.status is none %}
                            <td id="st{{order._id}}">
                                <select id="{{order._id}}" class="validate">
                                    <option value="" disabled selected>Choose Status</option>
                                    <option value="Completed">Completed</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Stuck">Stuck</option>
                                    <option value="Not Started">Not Started</option>
                                </select>
                                <input type="hidden" name="status{{order._id}}" id="status{{order._id}}" value="Choose Status" />
                            </td>
                        {% else %}
                            <td id="st{{order._id}}">
                                <select id="{{order._id}}" class="validate">
                                    <option value="" disabled selected>{{ order.status }}</option>
                                    {% if session.user|lower == 'admin'|lower %}
                                        <option value="Completed">Completed</option>
                                    {% endif %}
                                    <option value="In Progress">In Progress</option>
                                    <option value="Stuck">Stuck</option>
                                    <option value="Not Started">Not Started</option>
                                </select>
                                <input type="hidden" name="status{{order._id}}" id="status{{order._id}}" value="{{ order.status }}" />
                            </td>
                        {% endif %}
                        {% if order.progress is none %}
                            <td id="pr{{order._id}}">
                                <select id="p{{order._id}}" class="validate">
                                    <option value="" disabled selected>Level Of Progress</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Picked Up">Picked Up</option>
                                    <option value="Wine Testing">Wine Testing</option>
                                    <option value="To Pack">To Pack</option>
                                </select>
                                <input type="hidden" name="progress{{order._id}}" id="progress{{order._id}}" value="Level Of Progress" />
                            </td>
                        {% else %}
                            <td id="pr{{order._id}}">
                                <select id="p{{order._id}}" class="validate">
                                    <option value="" disabled selected>{{ order.progress }}</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Picked Up">Picked Up</option>
                                    <option value="Wine Testing">Wine Testing</option>
                                    <option value="To Pack">To Pack</option>
                                </select>
                                <input type="hidden" name="progress{{order._id}}" id="progress{{order._id}}" value="{{ order.progress }}" />
                            </td>
                        {% endif %}
                        <td>
                            <div class="switch">
                                <label>
                                    {% if order.invoiced == "Yes" %}
                                        <input type="checkbox" name="invoiced" checked>
                                    {% else %}
                                        <input type="checkbox" name="invoiced">
                                    {% endif %}
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </td>
                        <td>{{ order.user }}</td>
                        <td>
                            <button type="submit" name="submit" id="submit" class="btn-small" style="background-color: #00778a;">
                                <i class="fas fa-save tooltipped" data-tooltip="SAVE CHANGES"></i>
                            </button>
                        </td>
                        {% if session.user|lower == 'admin'|lower %}
                            <td>
                                <a href="{{ url_for('delete_order', order_id=order._id, store_id=store._id) }}" class="btn-small" style="background-color: #87256c;">
                                    <i class="fas fa-trash-alt tooltipped" data-tooltip="DELETE ORDER"></i>
                                </a>
                            </td>
                        {%endif%}
                    </tr>
                </form>
                {%endif%}
                <script src="https://code.jquery.com/jquery-3.5.1.min.js"
                    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
                <script type="text/javascript">
                    checkDate();
                    function checkDate() {
                        let myD = new Date($('#date{{order._id}}').val())
                        let d = new Date()
                        let isToday = (myD.getDate() == d.getDate() &&
                            myD.getMonth() == d.getMonth() &&
                            myD.getFullYear() == d.getFullYear())
                        // The peace of code above is inspired by https://flaviocopes.com/how-to-determine-date-is-today-javascript/
                        if (d <= myD) {
                            $('#date{{order._id}}').addClass('dateF')
                        }
                        if (isToday == true) {
                            $('#date{{order._id}}').addClass('dateT')
                        }
                    }
                    checkStatus();
                    function checkStatus() {
                        let st = $('#status{{order._id}}').val()
                        console.log(st)
                        if (st == 'Stuck') {
                            $('#st{{order._id}}').addClass('Stuck')
                        }
                        if (st == 'In Progress') {
                            $('#st{{order._id}}').addClass('inProgress')
                        }
                        if (st == 'Not Started') {
                            $('#st{{order._id}}').addClass('notStarted')
                        }
                    }
                    checkProg();
                    function checkProg() {
                        let pr = $('#progress{{order._id}}').val()
                        console.log(pr)
                        if (pr == 'Shipped') {
                            $('#pr{{order._id}}').addClass('shipped')
                        }
                        if (pr == 'Picked Up') {
                            $('#pr{{order._id}}').addClass('pickedUp')
                        }
                        if (pr == 'To Pack') {
                            $('#pr{{order._id}}').addClass('toPack')
                        }
                        if (pr == 'Wine Testing') {
                            $('#pr{{order._id}}').addClass('wineTest')
                        }
                    }
                    $('#{{order._id}}').on('change', function () {
                        $('#status{{order._id}}').val($('#{{order._id}}').val());
                    });
                    $('#p{{order._id}}').on('change', function () {
                        $('#progress{{order._id}}').val($('#p{{order._id}}').val());
                    });
                    // This peace of code above takes value from materialize select and inserts it to a hidden input https://stackoverflow.com/questions/43403306/materialize-select-dropdown-not-passing-value-to-controller-in-ruby/43404104
                </script>
            {% endfor %}
        </tbody>
    </table>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="fas fa-plus"></i>Add Order</div>
            <div class="collapsible-body">
                <form class="col s12" method="POST" action="{{ url_for('get_orders', store_id=store._id) }}">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="order_number" name="order_number" type="text" class="validate" value="#">
                            <label for="order_number">Order Number</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="notes" name="notes" type="text" class="validate">
                            <label for="notes">Notes</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="date" name="date" type="text" class="datepicker validate">
                            <label for="date">Delivery Date</label>
                        </div>
                        <div class="input-field col s12">
                            <select id="status" name="status" type="text" class="validate">
                                <option value="" disabled selected>Choose Status</option>
                                {% if session.user|lower == 'admin'|lower %}
                                    <option value="Completed">Completed</option>
                                {% endif %}
                                <option value="In Progress">In Progress</option>
                                <option value="Stuck">Stuck</option>
                                <option value="Started">Not Started</option>
                            </select>
                            <label for="status">Status</label>
                        </div>
                        <div class="input-field col s12">
                            <select id="progress" name="progress" type="text" class="validate">
                                <option value="" disabled selected>Level Of Progress</option>
                                <option value="Shipped">Shipped</option>
                                <option value="Picked Up">Picked Up</option>
                                <option value="Wine Testing">Wine Testing</option>
                                <option value="To Pack">To Pack</option>
                            </select>
                            <label for="progress">Progress</label>
                        </div>
                        <div class="input-field col s12 center-align">
                            <div class="switch">
                                <label>
                                    <input type="checkbox" name="invoiced">
                                    <span class="lever"></span>
                                    Invoiced
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <button type="submit" class="btn-large" style="background-color: #00778a;">
                                Create Order
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>
{% endblock %}