{% extends 'base.html' %}
{% block content %}
    <!-- {% for order in orders %}
        {{ order.order_number }}
        {{ order.notes }}
        {{ order.date }}
        {{ order.status }}
        {{ order.level_of_progress }}
        {{ order.invoiced }}
        {{ order.edited_by }}
    {% endfor %} -->
    <table>
        <thead>
            <tr>
                <th>Order#</th>
                <th>Notes</th>
                <th>Date</th>
                <th>Status</th>
                <th>Progress</th>
                <th>Invoiced</th>
                <th>Last Edited By</th>
            </tr>
        </thead>
    {% for order in orders %}
        <tbody>
            <tr>
                <td>
                    <ul class="collapsible">
                        <li>
                        <div class="collapsible-header">{{ order.order_number }}</div>
                        <div class="collapsible-body">
                            <form method="POST" action="{{ url_for('edit_order_number', order_id=order._id) }}">
                                <div class="input-field col s12">
                                    <input id="order_number" name="order_number" type="text" class="validate" value="#">
                                    <label for="order_number">Order Number</label>
                                </div>
                                <button type="submit" class="btn-small">
                                    Edit
                                </button>
                            </form>
                        </div>
                        </li>
                    </ul>
                </td>
                <td>{{ order.notes }}</td>
                <td>{{ order.date }}</td>
                {% if order.status is none %}
                    <td></td>
                {% else %}
                    <td>{{ order.status }}</td>
                {% endif %}
                {% if order.progress is none %}
                    <td></td>
                {% else %}
                    <td>{{ order.progress }}</td>
                {% endif %}
                <td>{{ order.invoiced }}</td>
                <td>{{ order.user }}</td>
                <td>
                    <a href="{{ url_for('delete_order', order_id=order._id) }}" class="btn-small">Delete</a>
                </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="fas fa-plus"></i>Add Order</div>
            <div class="collapsible-body">
                <form class="col s12" method="POST" action="{{ url_for('get_orders') }}">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="order_number" name="order_number" type="text" class="validate" value="#">
                            <label for="order_number">Order Number</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="notes" name="notes" type="text" class="validate">
                            <label for="notes">Notes</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="date" name="date" type="text" class="datepicker validate">
                            <label for="date">Date</label>
                        </div>
                        <div class="input-field col s12">
                            <select id="status" name="status" type="text" class="validate">
                                <option value=" " disabled selected>Choose Status</option>
                                <option value="Done">Done</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Stuck">Stuck</option>
                                <option value="Not Started">Not Started</option>
                            </select>
                            <label for="status">Status</label>
                        </div>
                        <div class="input-field col s12">
                            <select id="progress" name="progress" type="text" class="validate">
                                <option value=" " disabled selected>Level Of Progress</option>
                                <option value="Shipped">Shipped</option>
                                <option value="Picked Up">Picked Up</option>
                                <option value="Wine Testin">Wine Testing</option>
                                <option value="To Pack">To Pack</option>
                            </select>
                            <label for="progress">Progress</label>
                        </div>
                        <div class="input-field col s12 center-align">
                            <div class="switch">
                                <label for="invoiced">
                                    <input type="checkbox" id="invoiced" name="invoiced">
                                    <span class="lever"></span>
                                    Invoiced
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <button type="submit" class="btn-large">
                                Create Order
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>
{% endblock %}